# Django secret key used on app settings
export SECRET_KEY="your_secret_here"

# Authentication for koiki API.
export KOIKI_HOST="https://rekistest.koiki.es/services"
export KOIKI_AUTH_TOKEN="your_auth_token here"

# Wordpress woocommerce auth
export WCFMMP_HOST="your_wp_woocomerce_url"
export WCFMMP_USER="your_wp_woocomerce_user"
export WCFMMP_PASSWORD="your_wp_woocomerce_password"

# If you use redis with docker as described on the README, that's your url
export REDIS_URL="redis://0.0.0.0:6379"

# Details to connect to WCFM, the Marketplace plugin's API on Woocommerce.
export WC_WEBHOOK_SECRET="your_secret"
export WC_WEBHOOK_USER="woocommerce"
