# Django secret key used on app settings
SECRET_KEY="your_secret_here"

# Authentication for koiki API.
KOIKI_HOST="https://rekistest.koiki.es/services"
KOIKI_AUTH_TOKEN="your_auth_token here"

# Details to connect to WCFM, the Marketplace plugin's API on Woocommerce.
WCFMMP_HOST="your_wp_woocomerce_url"
WCFMMP_USER="your_wp_woocomerce_user"
WCFMMP_PASSWORD="your_wp_woocomerce_password"

# Wordpress woocommerce webhook auth
WC_WEBHOOK_SECRET="your_secret"
WC_WEBHOOK_USER="woocommerce"
