__pycache__/
.env*
!.env.example
.envrc
.coverage
htmlcov/
tags
session.json
data.json
label.pdf
pdf_barcodes/*.pdf
static
staticfiles
celerybeat-schedule
dumps/
.idea/
/docker/settings/preproduction.env
/docker/settings/digitalocean.env
